.banner {
    background-image: url("img/banner6.jpg");
    width: 100%;
    height: calc(100vh - 300px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header h1 {
    font-family: "Gentium Basic", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 60px;
    color: #000000;
    line-height: 70px;
    text-transform: uppercase;
}
    
header h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 5px;
    color: #3a383d;
    text-transform: uppercase;
    font-style: italic;
}

header .logo {
    text-align: center;
    padding: 10px 0 20px 0;
}

header nav ul {
    display: block;
    margin: 0 auto;
    text-align: center; 
    width: fit-content;    
}
    
header nav ul li {
    display: inline-block;
    padding: 16px 16px;    
}

nav ul li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #172029;
    text-transform: uppercase;
    text-decoration: none;
}

.about-us {
    padding-bottom: 20px;
}

.about-us-text {
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    float: left;
    margin: 0 40px;
    text-align: justify;
    color: #3a383d;
}

.about-us-container {
    display: flex;
    flex-direction: row;
}

.about-us-img {
    display: none;
}

.gallery-about-us {
    padding-right: 10%;
}

.gallery-image img {
    width: 300px; 
    height: 300px; 
    overflow: hidden; 
    border-radius: 50%;
}

.gallery-h2 {
    font-family: "Gentium Basic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 2px;
    padding: 10px 10px 0px 40px;
    color: #3a383d;
    text-transform: uppercase;
    text-align: left;
}

.gallery-image {
    margin: 10px;
    position: relative;
    text-align: center;
    -webkit-flex-basis: 300px;
    -moz-flex-basis: 300px;
    flex-basis: 300px;
} 
    
.post-header { 
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 3px 3px 9px #111111;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    background-color: #172029;
    margin-top: 20px;  
    overflow: hidden;   
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 0px;    
}
    
footer ul li {
    display: block;
    padding: 0 0 10px 0;
}
    
footer ul li p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    text-transform: lowercase;
    line-height: 1px;
}

.footer-sm {
    width: 32px;
    float: right;
}
    
.footer-sm img {    
    width: 100%;
    margin-bottom: 10px;
}

@media only screen and (min-width: 900px) {   

    header .header-banner {
          height: calc(100vh - 400px);
    }   
    header h1 a {
          font-size: 80px;
    }  
    header h2 {
          font-size: 24px;
          margin-top: 20px;
    }
    header nav ul li {
           padding: 16px 42px;
    }
    .about-us-img {
        display: flex;
        height: 250px;
    }
    .about-us-img img {
        border-radius: 25%;
    }
    .gallery-links {
        flex-direction: row;
    }
    .about-us-text {
        width: 50%;
    }
}